name: Auto Assign
on:
  issues:
    types: [opened, edited, labeled, unlabeled]
  pull_request:
    types: [opened, edited, labeled, unlabeled]
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: wow-actions/auto-assign@v3
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # using the `org/team_slug` or `/team_slug` syntax to add git team as reviewers
          # reviewers: |
          #   reviewer1
          #   reviewer2
          #   reviewer3
          #   org/teamReviewerA
          #   org/teamReviewerB
          #   /teamReviewerC
          assignees: val-istar-guo
          skipKeywords: wip, draft
